<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
    <title>Homepage</title>
</head>
<body>
    <%- include("./partials/nav") %>
        <div class="container mt-3">
    <div class="row g-4">  <!-- g-4 = equal gap between cards -->
        <% blogs.forEach(blog => { %>
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex">
                <div class="card flex-fill text-center">
                    <img src="<%= blog.coverImageURL %>" class="card-img-top" alt="cover image">
                    <div class="card-body">
                        <h5 class="card-title"><%= blog.title %></h5>
                        <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
</div>

    
    <%- include("./partials/scripts") %>
</body>
</html>